.classpath
.project
.settings/
.metadata/
.idea/
.gradle/
*.iml
*.iws
.DS_Store
log/
target/
build/
atlassian*.xml
log4j.properties
buildNumber.properties
local.properties
log4j.xml
context.xml
iajs.st
*.log
*.diff
logback-test.xml
/ia-sdk-lib/res/raw/MRAIDJSSolutionAndroid/nbproject/private/
gradle/
gradlew
gradlew.bat
app/libs/
